@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen Grupp 4</h1>
    <p>Läarn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Grupp 4 - Test Projekt</h2>
    <p>Mvc applikation som test för git.</p>
    
</div>